.container {
  max-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/images/bg-lines.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff92;
}

.gridContent {
  width: 90%;
  height: 90vh;
  margin: 50px 80px;
  background: hsl(234, 29%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 900px;
  margin-top: 3rem;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  background: hsl(0, 0%, 100%);
  transition: color 0.15s ease, border-color 0.15s ease;
  grid-template-columns: 1.3fr 1fr;
}

.card,
.cardImg {
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  background: hsl(0, 0%, 100%);
}

.card {
  margin: 22px;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.listContent {
  list-style: none;
  padding: 0;
}

.listContent li {
  margin: 10px 0;
  display: flex;
}

.imageList {
  margin: 0 10px 0 0;
}

.formContent form label,
.formContent form label input {
  display: block;
}

.inputForm {
  height: 42px;
  border-radius: 7px;
  border: 1px solid #9d9d9d;
  color: #9d9d9d;
  width: 90%;
}

.invalidEmail {
  color: red;
  position: absolute;
  top: 0px;
  right: 0;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
