.container {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/images/bg-lines.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #ffffff92;
}

.gridContent {
  width: 90%;
  height: 90vh;
  margin: 50px 80px;
  background: hsl(234, 29%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 900px;
  margin-top: 3rem;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  background: hsl(0, 0%, 100%);
  transition: color 0.15s ease, border-color 0.15s ease;
  grid-template-columns: 1.3fr 1fr
}

.card {
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  background: hsl(0, 0%, 100%);
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.imageList {
  list-style: none;
  padding: 0;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
